{{ define "content" }}
  {{ if eq .Params.role "break" }}
    <main>
      <div id="break-wrapper" class="break break-{{ .Title }}">
        {{ with .Params.image }}
          <h1>
            <span class="text">{{ $.Title | markdownify }}</span>
          </h1>
          <img src="./images/{{ . }}" alt="" aria-hidden="true" />
        {{ end }}

        {{ with .Params.images }}
          {{ range . }}
            <img src="./images/{{ . }}" alt="" aria-hidden="true" />
          {{ end }}
        {{ end }}
      </div>
    </main>
  {{ else }}
    <div class="content">
      <main>
        <h1{{ if .Params.hiddenTitle }} class="hidden-title"{{ end }}>
          {{ .Title | markdownify }}
        </h1>

        {{ with .Params.perex }}
          <div class="perex">
            {{ partial "md-block.html" . }}
          </div>
        {{ end }}

        {{ partial "typo.html" .RawContent }}
    </main>
  </div>
  {{ end }}
{{ end }}
