@use "./../../node_modules/@next-book/interface/src/scss/conf";

$green: #1f5961;
$orange: #f3845e;

@mixin light {
  --base-filter: none;
  --base-mix-blend-mode: normal;

  --illustration-filter: none;
  --illustration-mix-blend-mode: darken;

  --quote-bg: url("../template-images/quotes.svg");
}

@mixin dark {
  --base-filter: #{"invert()"};
  --base-mix-blend-mode: plus-lighter;

  --illustration-filter: #{"grayscale()"};
  --illustration-mix-blend-mode: multiply;

  --quote-bg: url("../template-images/quotes-white.svg");
}

@mixin sepia {
}

body {
  @include light;
}

@media (prefers-color-scheme: dark) {
  body {
    @include dark;
  }
}

body.nb-color-scheme-light {
  @include light;
}

body.nb-color-scheme-dark {
  @include dark;
}

body.nb-color-scheme-sepia {
  @include sepia;
}

:root {
  --indent: 5rem;

  @media (max-width: 600px) {
    --indent: 2rem;
  }
}

div[role="doc-toc"] > ul {
  padding: 0;

  li {
    list-style-type: none;
  }

  ol ol {
    display: none;
  }
}

#title-wrapper {
  display: block;

  background-image: url(../images/zemekoule.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  z-index: map-get(conf.$z-indexes, "breaks");

  h1 {
    margin: 0;
    font-size: 18vw;
    line-height: 18vw;
    letter-spacing: -0.02em;
    color: $green;
    mix-blend-mode: multiply;
    text-align: center;
  }

  p.subtitle {
    font-family: RightGrotesk;
    font-size: 9vw;
    line-height: 9vw;

    margin-left: 20vw;
    margin-top: 3rem;
    padding: 5vw;
    color: white;
    background: $green;
    mix-blend-mode: multiply;

    @media (min-aspect-ratio: 1/1) {
      margin-top: 10vh;
      font-size: 8vh;
      line-height: 8vh;
    }
  }

  p.info {
    color: $green;
    margin-left: 20vw;
    font-size: 3vw;

    @media (min-aspect-ratio: 1/1) {
      font-size: 4vh;
    }
  }
}

#break-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: map-get(conf.$z-indexes, "breaks");

  &.break {
    h1 {
      font-family: RightGrotesk;
      color: $green;
      line-height: 90vh;
      font-size: 80vh;

      position: absolute;
      top: 0;
      width: 100vw;
      left: 0;
      margin: 0;
      padding: 0;
      text-align: center;
      overflow: hidden;

      .text {
        mix-blend-mode: multiply;
      }
    }

    img {
      display: block;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: -1;
      object-fit: cover;
      object-position: 50% 50%;
      margin: 0;
    }

    img + img {
      mix-blend-mode: darken;
      object-fit: contain;
    }
  }

  &.break-2 {
    h1 {
      .text {
        mix-blend-mode: normal;
        color: $orange;
      }
    }
  }

  &.break-4,
  &.break-7 {
    h1 {
      .text {
        color: #f27155;
      }
    }
  }
}

.nb-custom-style .content {
  h1 {
    line-height: 2rem;
    margin-bottom: 2rem;
  }

  h2 {
    margin: 4rem 0 2rem;

    &:last-of-type {
      border-top: 1px solid var(--text-color);
      padding-top: 1rem;

      & + ul:last-of-type {
        padding-bottom: 1rem;
        border-bottom: 1px solid var(--text-color);
      }
    }

    &[id="tipy-pro-klimatické-hnutí"] {
      border: 1px solid var(--text-color);
      padding: 0.5rem;
      background-image: url(../images/zarovka.png);
      background-size: 2.5rem;
      background-position: 100% 0%;
      background-repeat: no-repeat;
    }
  }

  h3,
  h4 {
    margin: 3rem 0 2rem var(--indent);
  }

  dd,
  dt,
  p,
  li {
    margin-bottom: 0;
    font-weight: 400;
  }

  dt {
    float: left;
    font-weight: bold;
    margin-right: 0.25rem;

    &::before {
      content: "• ";
    }
  }

  dd {
    margin: 1rem 0;
  }

  figure {
    margin: 1.5rem 0;

    &.illustration,
    &.small,
    &.medium,
    &.large {
      p {
        margin: 0;
        text-indent: 0;

        filter: var(--base-filter);
        mix-blend-mode: var(--base-mix-blend-mode);
      }

      img {
        max-height: 60vh;
        max-width: 100%;
      }
    }

    &.medium {
      img {
        max-height: 40vh;
      }

      @media (min-width: 700px) {
        img {
          width: 100%;
          height: auto;
        }
      }
    }

    &.illustration img,
    &.small img {
      height: auto;
      padding-bottom: 0;
    }

    &.illustration p {
      filter: var(--illustration-filter);
      mix-blend-mode: var(--illustration-mix-blend-mode);
    }
  }

  .participants {
    dl {
      @media (min-width: 600px) {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 0;
      }
    }

    dt {
      float: none;
      border-top: 1px solid var(--text-color);
      padding: 0.75rem 0.5rem 0.5rem 0;
      margin: 0;
      display: block;
      line-height: 1.2rem;

      &::before {
        display: none;
      }
    }

    dd {
      margin: 0 0 1rem;
      padding: 0;

      display: block;

      font-size: 0.9rem;
      line-height: 1.2rem;

      @media (min-width: 600px) {
        margin: 0;
        padding: 0.5rem 0;
        border-top: 1px solid var(--text-color);
      }
    }
  }

  p {
    text-indent: var(--indent);
  }

  .perex p {
    text-indent: 0;
    margin: 0 0 2rem var(--indent);

    font-family: RightGrotesk;
    line-height: 1.3;

    strong {
      font-weight: 400;
      color: var(--background);
      background-color: var(--text-color);
      padding: 1px;
    }
  }

  ol {
    padding-left: var(--indent);
  }

  li p {
    text-indent: 0;
  }

  aside {
    margin: 1.5rem 0 1.5rem var(--indent);
    padding: 0.5rem 0;
    border: solid;
    border-width: 1px 0;

    p {
      text-indent: 0;
    }
  }

  blockquote {
    position: relative;

    &::before {
      content: "";
      display: block;
      background-image: var(--quote-bg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 0% 0%;
      width: calc(0.4 * var(--indent));
      height: calc(0.4 * var(--indent));

      position: absolute;
      top: 0.3rem;
      left: calc(-0.6 * var(--indent));

      @media (max-width: 600px) {
        width: calc(0.8 * var(--indent));
        height: calc(0.8 * var(--indent));
        left: calc(-1 * var(--indent));
      }
    }

    margin: 1.5rem 0 1.5rem var(--indent);

    p {
      font-size: 1.1rem;
      text-indent: 0;
      font-style: italic;
      font-weight: 400;
      line-height: 1.4rem;

      em {
        font-style: normal;
        font-weight: bold;
        font-size: 1rem;
      }
    }
  }
}

.nb-custom-style .nb-role-colophon .content p {
  text-indent: 0;
  margin-bottom: 1rem;
}

.nb-custom-style .logos {
  margin-top: 2rem;

  p {
    margin-bottom: 2rem;

    filter: var(--base-filter);
    mix-blend-mode: var(--base-mix-blend-mode);
  }

  img {
    display: block;
    max-height: 4rem;
    max-width: 9rem;
  }
}
