$green: #1f5961;
$orange: #f3845e;

@use "./../../node_modules/@next-book/interface/src/scss/scheme/light" with (
  $text-color: $green,
  $accent-color: $orange,
  $link: $green,
);

@use "./../../node_modules/@next-book/interface/src/scss/scheme/dark" with (
  $background: $green,
  $accent-color: $orange,
  $link: white,

  $ui-c-bg: #0B4047,
  $ui-c-bg-shade: #1f5961,
  $ui-c-soft: #266770,
  $ui-c-medium: #2D747E,
  $ui-c-text-shade: #ddd,
  $ui-c-text: #eee,
);

@use "./../../node_modules/@next-book/interface/src/scss/conf" with (
  $content-font: "Archivo, sans-serif",
  $heading-font: "RightGrotesk, sans-serif",
  $heading-font-weight: normal,

  $content-line-height: 1.5,
  $heading-line-height: 1.1,
  );

@use "./../../node_modules/@next-book/interface/src/scss/style" as interface;

@use "fonts";
@use "custom";
